.text {
    margin-bottom: rem-calc(32);

    &--intro {
        font-size: rem-calc(21);
    }

    /* stylelint-disable */
    p {
        margin-bottom: rem-calc(16);

        &:last-of-type {
            margin-bottom: 0;
        }
    }
    /* styleline-enable */
}